body{
    background-color: #61122f;
    font-family: Oxygen,sans-serif;
    font-size: 16px;
    color: #000000;
}

#header-nav{
    border-radius: 0;
    background-color: #f6b319;
    border: 0;
}
.navbar-header{
    padding-bottom: 15px;
}
.navbar-brand h1{
    line-height: 0.75;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 1px #111;
    margin: 0;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: mediumseagreen;
    font-size: 2.3em;
}
.navbar-brand a:hover .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
} 
.navbar-nav{
    margin: 0;
}
#item1{
    margin-top: 20px;
    padding-top: 20px;
    background-color: lightyellow;
    border: 1px solid #000000;
    height: 1005px;
    overflow: scroll;
}

ul{
    background-color: lightyellow;
}
.container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
    margin-left: -30px;
    margin-right: -30px;
}
#navlist li{
    font-size: 1.25em;
    line-height: 0.75em;
}
#navlist a{
    text-align: center;
    color: #951C49;
    text-shadow: 1px 1px 1px #fff;
}
#navlist a:hover{
    background-color: #f6b319;
    text-shadow: 1px 1px 1px #fff;
    zoom: 115%;
}
h3{
    margin-top: 0;
    font-weight: bolder;
}
#Menu{
    margin-top: 0;
    color: lightyellow;
    text-shadow: 1px 1px 1px #111;
    position: relative;
    top: -12.5px;
}

@media(max-width:767px)
{
    #item1{
        width: 80%;
        position: relative;
        right: -10%;
        margin-bottom: 5% ;
    }
}

